$primaryColor: #ea476a;
$secondaryColor: #f59caf;

nav {
  background-color: $primaryColor;
  box-sizing: border-box;

  .navbar-brand {
    color: white !important;
  }

  .nav-link {
    color: white !important;

    &:after {
      content: "";
      display: block;
      background-color: #FFF;
      width: 0;
      height: 2px;
      transition: width .5s ease-in-out;
    }

    &:hover:after {

      width: 25px;

    }


  }
}

@media (max-width: 575px) {
  .nav-link {
    float: right;
  }
}

@media (max-width: 991px) {
  .nav-link {
    float: right;
  }
}

.navbar-toggler {
  color: white !important;
  border-color: white !important;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #fff;
  border-radius: 0.25rem;
}